.board {
  border: 8px double #333;
  .row {
    display: flex;
    flex-direction: row;
    .cell {
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      cursor: pointer;
      &.disabled {
        cursor: not-allowed;
        background-color: #ccc;  
        &.dark {
          background-color: #333;  
        }
      }
      &.dark {
        background-color: #000;
        color: #ccc;
      }
      &.knight {
        font-size: 48px;
        background-color: #fff;
        &.dark {
          background-color: #000;
        }
      }
      &:hover {
        outline: 2px solid #77F;
      }
    }
  }
}