* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  background-color: #fff;
  padding: 32px;
}